<!DOCTYPE html>

<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    
    <div class="main-content">
        {{>header}}
        <p>Weather Info</p>
    </div>
    {{>footer}}

</body>


</html>